* text=auto eol=lf

* export-ignore

composer.json              -export-ignore
bin/                       -export-ignore
bin/version-aligner        -export-ignore
LICENSE.md                 -export-ignore
src/                       -export-ignore
src/**                     -export-ignore
